h1 {
  font-family: "Black Ops One";
}

body {
  /*
  code snippet for making background image always fit the display, source:
  https://css-tricks.com/perfect-full-page-background-image/
  */
  color: #fff;
  background: #030f13 url('../img/circuitry.svg'); /* image source: https://bit.ly/2GywJFO */ no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* font-family: 'Coda', cursive; */
}

img {
  margin: 0;
  height: 100%;
  width: 100%;
}

.faceDown {
  visibility: hidden;
}

.hidden {
  display: none;
}

.unClickable {
  pointer-events: none;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.solved {
  pointer-events: none;
}

.game-surface {
  width: 70vw;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}
.game-surface::after {

}

.row {
  height: 25%;
  flex-wrap: nowrap;
  margin-left: 0em;
  margin-right: 0em;
}

.deck-container {
  height:70vh;
  margin-left: -2em;
  /* min-width: 20em;
  min-height: 20em; */
}

.card-container {

}

.score-panel {

}
