/*
Notice: The following contains code snippets from various 3rd party sources.
I've made extensive modifications in order to meet the needs of this project, but I will still cite the source of each snippet to give credit to its author(s).
*/


/* =============== CSS Toggle Slider ================ */
/* =========== Based on design by Goombah =========== */
/* ====== https://stackoverflow.com/a/39846603 ====== */
.toggle {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 24px;
}
.toggle input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .5s;
  transition: .5s;
   border-radius: 20px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #ca2222;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}
.slider:after
{
 text-shadow: none;
 font-weight: bold;
 content:'Draw';
 color: black;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 12px;
 /* font-family: Verdana, sans-serif; */
}
input:checked + .slider:after
{
  content:'Erase';
}
/* ================================================== */


/* ================================================== */
/* ================================================== */
